/****************/
/* General CSS  */
/****************/

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  text-align: center;
}

h1 {
  font-family: 'Vina Sans', serif;
  color: #941010;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 48px;
  text-shadow: 3px 3px 3px #aaa;
}

h2 {
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 28px;
  text-shadow: 2px 2px 2px #aaa;
}

h3 {
  margin-bottom: 30px;
  font-size: 28px;
  text-shadow: 2px 2px 2px #aaa;
}

.custom-container-box {
  padding: 20px 50px 20px 70px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.scroll-container {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  height: 100vh; /* Adjust based on your layout */
}

.scroll-section {
  scroll-snap-align: start;
  min-height: 100vh; /* Ensures each section takes at least full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scroll-section .container-fluid {
  height: 100%;
}

.source {
  font-size: 12px;
  margin-top: 5vh;
  margin-bottom: 4vh;
}

/****************/
/*Page  Settings*/
/****************/

#introduction1{
  background-image: url(../img/intro.jpg);
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
}

#introduction2{
  background-image: url(../img/canada-map.jpg);
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
}

#macro1{
  /*background-image: url(../img/intro.jpg);*/
  background-color: #999aa0;
  background-size: cover;
  background-attachment: fixed;
}

#macro2{
  /*background-image: url(../img/intro.jpg);*/
  background-color: #e79d13;
  background-size: cover;
  background-attachment: fixed;
}

#performance1{
  /*background-image: url(../img/intro.jpg);*/
  background-color: #3f3f3f;
  background-size: cover;
  background-attachment: fixed;
}

#performance2{
  /*background-image: url(../img/intro.jpg);*/
  background-color: #999aa0;
  background-size: cover;
  background-attachment: fixed;
}

#sectors1{
  /*background-image: url(../img/sectors.jpeg);*/
  background-color: #e79d13;
  background-size: cover;
  background-attachment: fixed;
}

#sectors2{
  /*background-image: url(../img/intro.jpg);*/
  background-color: #3f3f3f;
  background-size: cover;
  background-attachment: fixed;
}

#recommendation{
  /*background-image: url(../img/intro.jpg);*/
  background-color: #999aa0;
  background-size: cover;
  background-attachment: fixed;
}

#acknowledgements{
  /*background-image: url(../img/intro.jpg);*/
  background-color: #e79d13;
  background-size: cover;
  background-attachment: fixed;
}

/****************/
/*  Macro  Viz  */
/****************/

/****************/
/*  Perf   Viz  */
/****************/

/*h1 {*/
/*  color: white;*/
/*  font: 45px "arial";*/
/*  !*font: 45px "Lucida Handwriting";*!*/
/*  font-weight: bold;*/
/*  margin-top: 1vh;*/
/*}*/

/*h3 {*/
/*  font: 20px "Lucida Handwriting";*/
/*  font-weight: bold;*/
/*  color: #D80621;*/
/*}*/

/*h4 {*/
/*  font: 20px "Lucida Handwriting";*/
/*  font-weight: bold;*/
/*  color: white;*/
/*}*/

/*h5 {*/
/*  font: 10px "Lucida Handwriting";*/
/*  color: black;*/
/*  !*color: #0c5460;*!*/
/*}*/

.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px Lucida Handwriting;
  background: white;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}

.legend {
  font-size: 12px;
}

.legend rect {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  opacity: 0.7;
}

#commentary-box {
  top: 250px;
  left: 1100px;
  width: 300px;
  padding: 10px;
  opacity: 0.9;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.circle-label {
  opacity: 1;
}

th {
  color: white;
  font: 12px "arial";
}


/*div.container2 {*/
/*  font-family: "arial";*/
/*  !*background-color: rgba(29,67,30,0.7);*!*/
/*  background-color: whitesmoke;*/
/*  padding-left: 5vh;*/
/*  padding-right: 5vh;*/
/*  padding-bottom: 5vh;*/
/*  !* Removed fixed height to allow dynamic sizing *!*/
/*  width: 100%; !* Adjust the width as per requirement *!*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); !* Optional: Adds a shadow for better visibility *!*/
/*}*/

.centered-content {
  display: flex;
  /*flex-direction: column;*/
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*div.container {*/
/*  font-family: "arial";*/
/*  background-color: rgba(29,67,30,0.5);*/
/*  !*background-color: rgba(0, 0, 0, 0.6);*!*/
/*  padding-left: 5vh;*/
/*  padding-right: 5vh;*/
/*  padding-bottom: 5vh;*/
/*  !* Removed fixed height to allow dynamic sizing *!*/
/*  width: 100%; !* Adjust the width as per requirement *!*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); !* Optional: Adds a shadow for better visibility *!*/
/*}*/

/*div.container1 {*/
/*  font-family: "arial";*/
/*  !*background-color: rgba(29,67,30,0.7);*!*/
/*  background-color: rgba(0, 0, 0, 0.6);*/
/*  padding-left: 5vh;*/
/*  padding-right: 5vh;*/
/*  padding-bottom: 5vh;*/
/*  !* Removed fixed height to allow dynamic sizing *!*/
/*  width: 100%; !* Adjust the width as per requirement *!*/
/*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); !* Optional: Adds a shadow for better visibility *!*/
/*}*/

.axis {
  font-size: 11px;
  font-weight: bold;
}

.axis path,
.axis line,
.domain {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#chart-area text {
  font-size: 12px;
  font-weight: bold;
}

.axis-label {
  fill: brown;
  font-size: 12px;
  font-weight: bold;
}

/****************/
/*  Sector Viz  */
/****************/

#canada {
  margin: 30px auto;
  height: 500px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datamaps-hoverover {
  position: absolute;
  z-index: 1000;
}

#timeline-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#timeline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#visualization-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sector-icon {
  fill: #d21313;
  margin: 50px;
  width: 150px; /* Adjust as necessary */
  height: 150px; /* Adjust as necessary */
  position: absolute;
  /* Use top and left to position each icon appropriately */
}

#industrial {
  top: 10px;
  left: 10px;
}

#office {
  top: 10px;
  right: 10px;
}

#multi {
  bottom: 10px;
  left: 10px;
}

#retail {
  bottom: 10px;
  right: 10px;
}

#map { height: 180px; }